# -----------------------
# Archivos sensibles
# -----------------------
.env
.env.*        
config.json   

# -----------------------
# Node.js
# -----------------------
node_modules
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# -----------------------
# Docker / Git
# -----------------------
.dockerignore
.docker-compose*
.git
.gitignore
.gitlab-ci.yml

# -----------------------
# IDEs / SO
# -----------------------
.vscode
.idea
*.swp
*.swo
*.DS_Store
Thumbs.db

# -----------------------
# Logs / cache
# -----------------------
logs
*.log
.cache
dist
build
coverage